
	<p> Name: <%= @school.name %></p>
	<p>Enrolled Students: <%= @school.total %></p>
	<p>Type: <%= @school.schooltype %></p>
	<p>Address: <%= @school.address %></p>
	<p>City: <%= @school.city %></p>
	<p>State: <%= @school.state %></p>
	<p>Zip Code: <%= @school.zip %></p>
	<p>URL: <%= @school.url %></p>
	<p>-----------------------------<p>



<h2>Comments</h2>
<% @school.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

 
<h2>Add a comment:</h2>
<%= form_for([@school, @school.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

	<p><%= link_to "Home", root_path %></p>
	<p><%= link_to "About", about_path %></p>
	<p><%= link_to "Contact", contact_path %></p>
