	<p> Name: <%= @school.name %></p>
	<p>Enrollment: <%= @school.total %></p>
	<p>Address: <%= @school.address %></p>
	<p>Type: <%= @school.schooltype %></p>
	<p>City: <%= @school.city %></p>
	<p>State: <%= @school.state %></p>
	<p>Zip Code: <%= @school.zip %></p>
	<p>URL: <%= @school.url %></p>